// general
$main-content-min-height: 768px;
$inner-container-bg-color: #f4f7fb;
// nav bar
$navbar-height: 60px;
$navbar-color: white;
$top-menu-height: 30px;
// nav btns
$color-linkedin: #006599;
$color-email: #5bb7e2;
$color-github: black;
